.background {
  display: flex;
  min-height: 150px;
  background: lightslategray;
}

.bank {
  display: flex;

  .slotContainer p {
    text-align: center;
  }
  .slot {
    position: relative;
    margin: 1rem;
    width: 100px;
    height: 150px;
    border: 1px black solid;
  }

  img {
    position: absolute;
  }
}
