.background {
  display: flex;
  min-height: 150px;
  background: lightslategray;
}

.slot {
  display: flex;
  div {
    margin: 1rem;
    width: 100px;
    height: 120px;
    border: 1px black solid;
  }
}
