body {
  /* background-color: #076324; */
}
.card-object {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.card-image {
  width: 100px;
}

.invisible {
  visibility: hidden;
}

.notInvisible {
  visibility: visible;
}

.table {
  height: 100%;
}
